@model WijayanthaHardware.Models.PaintViewModel
<div class="modal fade" id="addcolor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title small-heading" id="exampleModalLongTitle">Add New Color</h5>
            </div>
            <form action="/" method="post">
                <div class="modal-body">
                    <label class="form-label">Color code</label><br />
                    <input type="text" name="name" value="" placeholder="Add color code" />
                    <label class="form-label">Color name</label><br />
                    <input type="text" name="name" value="" placeholder="Add paint colour" />

                </div>
                <div class="modal-footer">
                    <button type="submit" class="same-btn">Save Changes</button>
                    <button type="button" class="same-btn" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
