<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
          crossorigin="anonymous">
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/modernizr.custom.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.dropdown.js"></script>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link rel="icon" href="favicon.png" type="image/png">

</head>
<body>
    <nav class="menu">
        <ul>
            <li class="menu-item"><a href="#0">Dashboard</a></li>
            <li class="menu-item"><a href="#0">sales</a></li>
            <li class="menu-item"><a href="/Home/Paint">paint</a></li>
            <li class="menu-item"><a href="/Home/PowerTools">power tools</a></li>
            <li class="menu-item"><a href="#0">supplier details</a></li>
            <li class="menu-item"><a href="#0">Reports</a></li>
            <li class="menu-item">
                <a href="#0"><i class="fas fa-cogs"></i></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="/Security/Register">add user</a></li>
                    <li class="menu-item"><a href="/Security/Logout">logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    @RenderBody()

    <script src="~/Scripts/dropdownfn.js"></script>
</body>
</html>
