@model List<WijayanthaHardware.Models.DashboardViewModel>
<div class="col-xs-12 col-sm-6 col-md-6">
    <div class="paint-info">
        <div class="pie-chart">
            <h1>Paint Availability</h1>
            <section>
                <div class="pieID pie">
                </div>
                <ul class="pieID legend">
                    @foreach (var paint in Model.Where(w => w.Type == "paint").ToList())
                    {
                        <li>
                            <em>@paint.PaintName</em>
                            <span>@paint.PaintAvailabiltyCount</span>
                        </li>
                    }
                </ul>
            </section>
        </div>
    </div>
</div>