@model List<WijayanthaHardware.Models.DashboardViewModel>
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="pull-left">
                <h1 class="big-heading">Paint availability</h1>
                <div class="pieChart" id="paintcontainer" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
            </div>
            <div class="pull-right">
                <h1 class="big-heading">Powertools availability</h1>
                <div class="pieChart" id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>