@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="paint-info">
                    <div class="pie-chart">
                        <h1>Paint Availability</h1>
                        <section>
                            <div class="pieID pie">
                            </div>
                            <ul class="pieID legend">
                                <li>
                                    <em>Weather</em>
                                    <span>2000</span>
                                </li>
                                <li>
                                    <em>Emulsion</em>
                                    <span>531</span>
                                </li>
                                <li>
                                    <em>Platering</em>
                                    <span>868</span>
                                </li>
                                <li>
                                    <em>Coating</em>
                                    <span>344</span>
                                </li>
                                <li>
                                    <em>Other</em>
                                    <span>1145</span>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>