@model List<WijayanthaHardware.Models.PaintViewModel>
@*@model List<WijayanthaHardware.Models.PowerToolsViewModel>*@
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="paint-info">
                    <div class="pie-chart">
                        <h1>Paint Availability</h1>
                        <section>
                            <div class="pieID pie">
                            </div>
                            <ul class="pieID legend">
                                @foreach (var paint in Model)
                                {
                                    <li>
                                        <em>@paint.CategoryName</em>
                                        <span>@paint.AvailableQuantity</span>
                                    </li>
                                }
                            </ul>
                            @*<ul class="pieID legend">
                                @foreach (var powertool in Model)
                                {
                                    <li>
                                        <em>@powertool</em>
                                        <span>@powertool.AvailableQuantity</span>
                                    </li>
                                }
                            </ul>*@
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>