@model List<WijayanthaHardware.Models.DashboardViewModel>
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="body-content">
    <div class="container">
        <div class="row">
            @Html.Partial("_paintChart")
            @Html.Partial("_powerToolChart")
        </div>
    </div>
</div>
