
@{
    ViewBag.Title = "Power Tools";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="powertools">
    <div class="container">
        <h1 class="big-heading">power tools</h1>
        <section class="main clearfix">
            <div class="fleft">
                <select id="cd-dropdown" name="cd-dropdown" class="cd-select">
                    <option value="-1" selected>Choose tool category</option>
                    <option value="1" >Ironman</option>
                    <option value="2">Ironman</option>
                    <option value="3">Ironman</option>
                    <option value="4">Ironman</option>
                </select>
            </div>
            <div class="fleft">
                <select id="cd" name="cd" class="cd-select">
                    <option value="-1" selected>Choose tool</option>
                    <option value="1">Batman</option>
                    <option value="2">Batman</option>
                    <option value="3">Batman</option>
                    <option value="4">Batman</option>
                    <option value="5">Batman</option>
                    <option value="6">Batman</option>
                    <option value="7">Batman</option>
                    <option value="8">Batman</option>
                    <option value="9">Batman</option>
                    <option value="10">Batman</option>
                    <option value="11">Batman</option>
                    <option value="12">Batman</option>
                    <option value="13">Batman</option>
                    <option value="14">Batman</option>
                    <option value="15">Batman</option>
                    <option value="16">Batman</option>
                </select>
            </div>

        </section>
    </div>
</div>

