
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="reports">
    <div class="container">
        <form action="/" method="post">
            <div class="form-content">
                <label>Start date:</label>
                <input type="date" value="" />

                <label>End date:</label>
                <input type="date" value="" />
                <button type="submit" class="same-btn">run report</button>
            </div>
        </form>
    </div>
</div>

